
.combo-box {
  height: 300px;
  width: 402px;
  border-radius: 6px;
}

.combo-head {
  height: 30px;
  text-align: center;
  line-height: 30px;
}

.combo-to, .combo-from {
  width: 39%;
  height: 270px;
}
.combo-from {
  float:left;
  border: 1px solid gray;
  background-color: #FFFFFF;
} 

.combo-to {
  float:left;
  border: 1px solid gray;
  background-color: #FFFFFF;
}

.combo-middle {
  width: 20%;
  height: 270px;
  float: left;
}

body {
  background: aliceBlue;
}
