.combo-box {
  border: 2px solid black;
  height: 300px;
  width: 402px;
  border-radius: 6px;
}
.combo-head {
  border-bottom: 1px solid gray;
  height: 30px;
  text-align: center;
  line-height: 30px;
}

.combo-to, .combo-from {
  width: 180px;
  height: 270px;
}
.combo-from {
  float:left;
  border-right: 1px solid gray;
} 
.combo-to {
  float:left;
  border-left: 1px solid gray;
}
.combo-box .item {
  border-bottom:  1px solid #b8b9a6;
  padding: 5px 10px;
}
.combo-box .item:last-child {
  border: none;
}
.combo-box .item:hover {
  background-color: #89c899;
  -webkit-transition: all 0.24s ease-out;
  -moz-transition: all 0.24s ease-out;
  -o-transition: all 0.24s ease-out;
  transition: all 0.24s ease-out;
}
.combo-box .item.selected {
  background-color: #13985c;
}

.combo-middle {
  width: 40px;
  height: 270px;
  float: left;
}






body {
  background: aliceBlue;
}
