.ui-smsbox {
  border: 2px solid black;
  min-height: 231px;
  width: 402px;
  border-radius: 4px;
}
.ui-smsbox-head {
  border-bottom: 1px solid gray;
  height: 30px;
  text-align: center;
  line-height: 30px;
}

.ui-smsbox-to, .ui-smsbox-from {
  width: 180px;
  min-height: 200px;
  max-height: 200px;
  overflow: scroll;
}
.ui-smsbox-from {
  float:left;
  border-right: 1px solid gray;
}

.ui-smsbox-to {
  float:left;
  border-left: 1px solid gray;
}

.ui-smsbox-from .head, .ui-smsbox-to .head {
  background-color: #DDD;
  text-align: center;
  padding: 5px 0;
  border-bottom: 1px solid #AAA;

}

.ui-smsbox .item {
  border-bottom:  1px solid #b8b9a6;
  padding: 5px 10px;
}
.ui-smsbox .item:last-child {
  border: none;
}
.ui-smsbox .item:hover {
  background-color: #89c899;
  -webkit-transition: all 0.24s ease-out;
  -moz-transition: all 0.24s ease-out;
  -o-transition: all 0.24s ease-out;
  transition: all 0.24s ease-out;
}
.ui-smsbox .item.selected {
  background-color: #13985c;
}

.ui-smsbox-middle {
  width: 40px;
  min-height: 200px;
  float: left;
}

.add-button, .remove-button {
  width: 30px;
  margin: 40px 5px;
}
